<div ng-init="init()">
  <h1>Tasks</h1>

  <div ng-include="'angular/frontend/tasks/_form.html'"></div>

  <div class="row">
    <div class="col-md-4">
      <h2>To Do</h2>
      <div ng-repeat="task in tasksToDo" ng-include="'angular/frontend/tasks/_task.html'"></div>
    </div>
    <div class="col-md-4">
      <h2>In Progress</h2>
      <div ng-repeat="task in tasksInProgress" ng-include="'angular/frontend/tasks/_task.html'"></div>
    </div>
    <div class="col-md-4">
      <h2>Done</h2>
      <div ng-repeat="task in tasksDone" ng-include="'angular/frontend/tasks/_task.html'"></div>
    </div>
  </div>
</div>