<div class="well">
  <form role="form" ng-submit="create()">
    <div class="form-group">
      <label for="exampleTitle">Titel</label>
      <input type="text" class="form-control" autoFocus="true" ng-model="currentTask.label" id="exampleTitel" required placeholder="Bitte erfassen Sie einen Titel für den Task" />
    </div>
    <div class="form-group">
      <label for="exampleText">Text</label>
      <textarea class="form-control" rows="3" ng-model="currentTask.text" id="exampleText" required placeholder="Bitte einen Text erfassen"></textarea>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="exampleEstimate">Mitarbeiter</label>
          <input type="text" class="form-control" ng-model="currentTask.employee" id="exampleEmployee" required placeholder="Bitte erfassen Sie den zuständigen Mitarbeiter" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="exampleEstimate">Aufwandschätzung</label>
            <select class="form-control" ng-model="currentTask.effort" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="5">4</option>
              <option value="8">5</option>
            </select>
        </div>
      </div>
    </div>
    <div class="form-action">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i>
        Speichern
      </button>

      <button type="reset" class="btn btn-default">
        Zurücksetzen
      </button>
    </div>
  </form>
</div>