extends ../../layouts/application

block content
  h1 Sign Up

  form(action='/sign-up', method='post')
    .form-group
        label Email
        input.form-control(type='text', name='email')
      .form-group
        label Password
        input.form-control(type='password', name='password')
      button.btn.btn-warning.btn-lg(type='submit') Signup

