doctype html
html(ng-app="scrumBoardApp")
  head
    title ScrumBoard
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel='stylesheet', href='/assets/application.css')   

  body( ng-controller="MainController", ng-init="registerUserId('#{ user != undefined ? user._id : undefined}')")
    include shared/header

    section
      block content

    script( src='/assets/application.js' type='text/javascript')
    script( src='/assets/angular_core.js' type='text/javascript')
    script( src='/assets/angular_custom.js' type='text/javascript')